

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
              <%= link_to 'Home', root_path, class: "navbar-brand " %>
            </li>
            <li >
                 <%= link_to 'Sign Up', new_user_path, class:"navbar-brand" %>  
            </li>
             <li >
                 <%= link_to 'Sign in', new_session_path, class:"navbar-brand" %>  
            </li>
            <li >
                 <%= link_to 'Events', events_path, class:"navbar-brand" %>  
            </li>
           <% if current_user %>
           <%= link_to "Sign out", signout_path, class:"navbar-brand"  %>
           <% end %>
       
        </ul>
      </div>
    </nav>